/* timeline.css */

/* Line */
.timeline-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -43px;
  width: 1px;
  height: calc(100% + 50px);
  background: #383838;
}
/* Dot */
.timeline-item::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -45px;
  height: 6px;
  width: 6px;
  background: linear-gradient(
    to right, 
    hsl(45, 100%, 72%), 
    hsl(35, 100%, 68%)
  );
  border-radius: 50%;
  box-shadow: 0 0 0 4px #383838;
}
